@import "./blocks/*.scss";
@import './_global.scss';
@font-face {
    font-family: 'SofiaPro-SemiBold';
    src: url('../fonts/SofiaPro-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'SofiaPro-Regular';
    src: url('../fonts/SofiaPro-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SofiaPro-Medium';
    src: url('../fonts/SofiaPro-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'SofiaPro-Bold';
    src: url('../fonts/SofiaPro-Bold.woff2') format('woff2');
}

.slider{
    margin-top: 8rem;
}


.slider__container{
    position: relative;
    width: 80%;
}

.slider__title{
    font-family: 'SofiaPro-SemiBold';
    font-size: 6.4rem;
    color: #333333;
}

.slider__text{
    font-family: 'SofiaPro-Regular';
    font-size: 1.6rem;
    color: #666666;
}

.slider__photo{
    position: absolute;
    left: 47rem;
    top: 0;
}

.slider__arrow-2{
    position: absolute;
    left: 114rem;
    top: 24rem;
}

.slider__arrow-1{
    position: absolute;
    right: 114rem;
    top: 24rem;
    transform: rotateY(180deg);
}

.slider__rect{
    position: absolute;
    top: 14.2rem;
    left: 20rem;
}

.slider__text-container{
    margin-top: 2.5rem;
}

.slider__text{
    margin-bottom: 1.2rem;
}

.slider__button{
    border: #E21A43 solid 0.15rem;
    width: 13rem;
    height: 5rem;
    font-family: 'SofiaPro-SemiBold';
    font-weight: 600;
}

.slider__button-1{
    background-color: #E21A43;
    color: #ffffff;
    margin-right: 2.5rem;
}

.slider__button-2{
    color: #E21A43;
}

.slider__star{
    position: absolute;
    top: 30rem;
    left: 39rem;
}

.ingredients__container{
    margin-top: 30rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.ingredients__title{
    font-size: 1.7rem;
    font-weight: 525;
    font-family: "SofiaPro-Medium";
    color: #666666;
}



// section newproducts


.newproducts{
    padding-top: 10rem;
    background-color: #F7F7F7;
}

.newproducts__wrapper{
    flex-direction: column;
}

.newproducts__container{
    display: flex;
    column-gap: 3rem;
    align-items: flex-end;
}

.newproducts__title{
    font-family: 'SofiaPro-SemiBold';
    font-size: 2.4rem;
}

.newproducts__cart-title{
    font-family: 'SofiaPro-Bold';
    font-size: 3.2rem;
    color: #333333;
}

.newproducts__item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: white;
}

.newproducts__cart-button{
    background-color:rgba(226, 26, 67, 0.1);
    border: none;
    color: #E21A43;
    padding: 1.2rem 2.5rem;
    font-family: 'SofiaPro-SemiBold';
    font-size: 1.6rem;
    font-weight: 600;
}

.newproducts__cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 40rem;
}

.cart__image img{
    width:24.6rem;
    height: 26.8rem;
}

.cart__title{
    font-family: "SofiaPro-Regular";
    font-size: 1.8rem;
    color: #333333;
}